body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-style: normal;
}

.vh-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* ********** NAVBAR SECTION BEGIN ********** */
.navbar {
  padding: 0.5em 6.8em;
  position: fixed;
  width: 100%;
  z-index: 999999999;
}

.nav_utama {
  width: 100%;
  padding: 0px;
}

.nav-link {
  margin-right: 10px;
  color: #000;
}

.nav-link:hover {
  color: #0D28A6;
  font-weight: 700;
}

.off-navbar {
  width: 50%;
}

.nav_btn {
  height: 36px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  background-color: #5CB85F;
}

/* ********** NAVBAR SECTION END ********** */


/* ********** HERO SECTION BEGIN ********** */
.desc_sewa {
  width: 100%;
  padding-top: 80px;
  background-color: #f1f3ff;
  height: 100%;
}

.desc_utama {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.desc_kiri {
  width: 100%;
  padding-top: 70px;
  margin-left: 109px;
}

.desc_kiri h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.desc_kiri p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  width: 35vw;
}

.desc_kiri .btn {
  width: 140px;
  height: 36px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  background-color: #5CB85F;
}

.desc_kanan {
  width: 50%;
  position: relative;
  right: 0;
}

.img-mobil {
  position: relative;
  width: 704px;
  height: 400px;
  margin-top: -15px;
}


/* ********** HERO SECTION END ********** */

/* ********** CARI MOBIL SECTION BEGIN ********** */
.search-box {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 100px;
}
.search-content {
  z-index: 100;
  width: 73%;
  padding: 24px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: -50px;
}

.input-group {
  width: 21%;
}

.input-group > .form-control,
.input-group > .form-select {
  border-radius: 3px !important;
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
}

.item {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.form-control:hover,
.form-control:focus,
.form-select:hover,
.form-select:focus {
  border: 1px solid #5cb85f;
  box-shadow: none;
}

.button-search {
  width: 13%;
  background: #5cb85f;
  border-radius: 3px;
  border-style: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height: 6vh;
  align-self: end;
}

.result-container {
  text-align: -webkit-center;
}
.result {
  width: 100%;
  height: fit-content;
  display: flex;
  padding-top: 1%;
  padding-right: 3%;
  padding-left: 3%;
  justify-content: space-around;
  flex-flow: wrap;
  text-align: left;
  color: black;
}

/* ********** CARI MOBIL SECTION END ********** */

/* ********** OUR SERVICES SECTION BEGIN ********** */
.img-service{
  max-width: 459px;
  margin-top: 110px;
  margin-left: 58px;
}

.desc-section {
  margin-left: 16px;
  margin-top: 104px;
}

.desc-section h2 b{
  max-width: 468px;
  font-size: 24px;
  font-family: 'Helvetica';
}

.desc-section p{
  margin-top: 24px;
  font-family: 'Helvetica';
}

.desc-section p img{
  margin-right: 16px;
}

/* ********** OUR SERVICES SECTION END ********** */

/* ********** WHY US SECTION BEGIN ********** */
.why-us-section{
  margin-top: 100px;
  font-family: 'Helvetica';
}

.why-us-section strong{
  font-size: 24px;
}

.why-us-section p{
  margin-top: 16px;
  font-family:'Helvetica';
  font-size: 14px;
}

.why-us-section .card img{
  max-width: 32px;
  margin-left: 24px;
  margin-top: 24px;
}

.why-us-section .card h4{
  margin-left: 24px;
  margin-top: 16px;
  font-family: 'Helvetica';
  font-size: 16px;
}

.why-us-section .card p{
  margin-left: 24px;
  margin-top: 16px;
  font-family: 'Helvetica';
  font-size: 14px;
}

/* ********** WHY US SECTION END ********** */

/* ********** TESTIMONY SECTION BEGIN ********** */

.testimony-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimony-section .opening-text-testimony h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.testimony-section .opening-text-testimony p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}

.testi-box {
  max-width: 619px;
  background-color: #F1F3FF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.testimony-section .testi-box img {
  width: 80px !important;
  height: 80px;
  border-radius: 100%;
}


.text-review {
  padding-top: 69px;
  padding-bottom: 69px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
}

.star {
  display: flex;
  flex-direction: row;
  width: 32px;
}

.testi-box .text-review .star img {
  width: 16px;
  height: 16px;
  margin-bottom: 8px;
}

.testi-box p {
  font-weight: 300 !important;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.testi-box h5 {
  font-weight: 1000 !important;
  font-size: 14px;
  line-height: 20px;
}

.owl-prev, .owl-next {
  margin: 10px;
}

.next-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 50px;
  background-color: white;
  padding: 10px;
}

.next-slide:hover {
  color: white;
  background-color: #5CB85F;
  border: 1px solid #5CB85F;
}

.prev-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 50px;
  background-color: white;
  padding: 10px;
}

.prev-slide:hover {
  color: white;
  background-color: #5CB85F;
  border: 1px solid #5CB85F;
}

.owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

/* ********** TESTIMONY SECTION END ********** */


/* ********** PESAN SECTION BEGIN ********** */

.pesan-section .card{
  max-width: 1300px;
  height: 326px;
  border-radius: 13px;
  background-color: #0D28A6;
  
}

.pesan-section .card h1{
  margin-top: 64px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.pesan-section .card p{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.pesan-section .card .btn-reg{
  font-family: 'Helvetica';
  font-size: 13px;
  font-style: bold;
  max-width: 150px;
  height: 36px;
  margin-top: 52px;
  margin-left: 514px;
  background: #5CB85F;
  border: none;
  border-radius: 2px;
  
}

/* ********** PESAN SECTION END ********** */

/* ********** FAQ SECTION BEGIN ********** */

.faq-intro{
  margin-top: 104px;
  max-width: 1300px;
}

.faq-intro h2{
  font-family: 'Helvetica';
  font-size: 24px;
  max-width: 368px;
}

.faq-intro p{
  font-family: 'Helvetica';
  font-size: 14px;
  max-Width: 368px;
  
}

.list-questions{
  font-family: 'Helvetica';
  margin-top: 104px;
}

.list-questions .accordion-item{
  margin-bottom: 16px;
}

/* ********** FAQ SECTION END ********** */

/* ********** FOOTER SECTION END ********** */

.footer_utama {
  display: flex;
  padding: 100px 107px 0px 107px;
}

.footer_alamat {
  width: 27%;
}

.footer_link {
  margin-left: 30px;
}

.footer_link .nav-link{
  margin-bottom: 16px;
}

.footer_sosmed {
  width: 27%;
  margin-left: 70px;
}

.footer_sosmed img{
  margin-right: 16px;
}

.footer_alamat a {
  margin-right: 14px;
}

.footer_copy {
  width: 20%;
  margin-left: 60px;
}

/* ********** FOOTER SECTION END ********** */


@media only screen and (min-width: 0) and (max-width: 576px) {
  
  .navbar {
      padding: 0px;
  }

  .nav_utama {
      width: 100%;
      padding: 12px;
  }

  .navigation {
      margin-top: -20px;
  }

  .nav_btn {
      width: 65%;
      height: 38px;
      margin-top: 0px;
      font-weight: bold;
  }

  .desc_sewa {
      overflow: hidden;
      width: 100%;
      height: 670px;
  }

  .desc_utama {
      flex-direction: column;
  }

  .desc_kiri {
      width: 100%;
      padding-top: 0px;
      margin-left: 0px;
      padding-left: 12px;
  }

  .desc_kiri h1 {
      width: 85vw;
  }

  .desc_kiri p {
      width: 92vw;
  }

  .desc_kiri button {
      margin-bottom: 24px;
  }

  .desc_kanan {
      width: 100%;
      padding-left: 12px;
  }

  .bg-mobil {
      width: 0px;
      height: 130px;
  }

  .img-mobil {
      padding-right: 0px;
      width: 100%;
      top: 30px;
      height: 350px;
  }
  .our-service-section .img-service img{
      width: 330px;
      height: 300px;
      align-items: center;
  }

  .why-us-section .text{
      text-align: center;
  }

  .why-us-section .card{
      max-width: 100%;
      margin-left: 16px;
      margin-right: 16px;
  }

  .owl-carousel img{
      margin-top: 40px;
  }

  .owl-carousel .star{
     justify-items: center;
  }

  .owl-carousel .item .testi-box {
      width: 500px;
      height: 500px;
      margin-left: 32px;
      margin-right: 32px;
  }

  .pesan-section .card{
      max-width: 100%;
      margin-left: 16px;
      margin-right: 16px;
  }

  .footer_utama {
      flex-direction: column;
      padding: 16px ;
  }

  .footer_alamat {
      padding: 0px 16px;
      width: 100%;
  }

  .footer_link {
      font-size: 14px;
      margin-left: 15px;
      margin-bottom: 16px;
  }

  .footer_sosmed {
      width: 100%;
      margin-left: 0px;
      padding: 0px 12px;
      margin-bottom: 10px;
  }

  .footer_sosmed a {
      display: inline;
  }

  .footer_copy {
      width: 100%;
      margin-left: 0px;
      padding: 15px 12px;
      margin-bottom: 20px;
  }

}